SERVER_PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=nodeassignment
JWT_SECRET=a6b3b3aeab09c92ecbc4b7359b2acfc7530b4deb2d7e02c9a5d75ccbc6444395